@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
textarea{
    display: block;
    border: none;
    width: 90%;
    height: 10vh;
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}
:root{
    --primary-color : #10B981;
    --secondary-color :  #047857;
}
#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: auto;
    color: black;
    background-color: white;
    padding:  1rem;
    max-width: 600px;
}
body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.yoda{
    margin: 0px;
}
.header-yoda{
    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    color: white;
    font-size: 2rem ;    
}
.input-div{
    padding: 2rem;
    background-color: var(--primary-color);
}
.btn-div{
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}
#btn-translate{
    padding: 1rem;
    border: solid var(--primary-color);
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    background-color: var(--secondary-color);
}
/* .output-header{
    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    color: white;
} */
.output-section{

    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    color: white;
    margin: auto;
    
}
.footer{
 
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color:white;
    
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer img{
    width: 2rem;
}
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    padding: 0rem 0.5rem;
    display: inline;
}
.footer .footer-header{
    margin: auto;
    max-width: 600px;
}